---
// import { Image } from "astro:assets";
import SocialButtons from "../SocialNav/SocialButtons.astro";
const { id, name, image, description, technologies, link } = Astro.props;
console.log(id);

---

<section
    class="w-[95%] my-2 flex flex-col border-2 border-transparent border-t-indigo-600"
>
    <h1
        class="font-bold my-2 text-xl bg-gradient-to-r from-rose-500 to-purple-600 bg-clip-text text-transparent"
    >
        {name}
    </h1>
    <section class="flex flex-col lg:flex-row items-start gap-x-2">
        <div class="w-full lg:w-1/2 rounded-md overflow-hidden">
            <a href={link}>
                <img
                    style={`view-transition-name: ${id}`} 
                    class="w-full h-full object-cover hover:scale-125 hover:rotate-3 transition-all duration-200"
                    src={image}
                    alt=`proyect ${name}`
                />
            </a>
        </div>
        <div class="flex flex-col w-full lg:w-1/2 justify-center items-center">
            <p class="text-pretty">{description}</p>
            <div
                class="flex flex-wrap w-[95%] justify-center items-center rounded-lg bg-gray-400/20 mt-1 mb-4 sm:mb-1"
            >
                {
                    technologies.map((tech: any) => (
                        <span class="inline-flex m-2 cursor-pointer">
                            <SocialButtons class="" title={tech.name}>
                                <tech.icon class="size-4" />
                                <p class="text-sm">{tech.name}</p>
                            </SocialButtons>
                        </span>
                    ))
                }
            </div>
        </div>
    </section>
</section>
