---
import SocialButtons from "../SocialNav/SocialButtons.astro";
const { id, name, image, description, technologies, link, demo, code } = Astro.props;
console.log(id);
---

<section
    id={id}
    class="w-[95%] my-2 flex flex-col border-2 border-transparent border-t-indigo-600"
>
    <h1
        class="font-bold my-2 text-xl bg-gradient-to-r from-rose-500 to-purple-600 bg-clip-text text-transparent"
    >
        {name}
    </h1>
    <section class="flex flex-col lg:flex-row items-start gap-x-2">
        <div class="relative group w-full lg:w-1/2 rounded-md overflow-hidden">
            <figure>
                <img
                    style={`view-transition-name: ${id}`}
                    class="w-full h-full object-cover"
                    src={image}
                    alt=`proyect ${name}`
                />
            </figure>
            <section
                class="absolute flex items-center justify-center top-0 translate-y-full group-hover:translate-y-0 w-full h-full  transition-all duration-200"
            >
                <a
                    href={link}
                    class="flex flex-wrap w-20 h-20 justify-center items-center bg-black/60 hover:shadow-lg hover:border-rose-500 hover:text-rose-500 font-medium p-4 font-semibol backdrop-blur-sm rounded-full border-4 transition-all duration-200"
                >
                    view
                </a>
            </section>
        </div>
        <div class="flex flex-col w-full lg:w-1/2 justify-center items-center">
            <p class="text-pretty">{description}</p>
            <div
                class="flex flex-wrap w-[95%] justify-center items-center rounded-lg bg-gray-400/20 mt-1 mb-4 sm:mb-1"
            >
                {
                    technologies.map((tech: any) => (
                        <span class="inline-flex m-2 cursor-pointer">
                            <SocialButtons class="" title={tech.name}>
                                <tech.icon class="size-4" />
                                <p class="text-sm">{tech.name}</p>
                            </SocialButtons>
                        </span>
                    ))
                }
            </div>
            <section class="w-full text-sm flex justify-around my-1 px-2">
                        <a
                            class="flex items-center rounded-full ring-2 ring-white hover:bg-white hover:text-black p-1 px-4 transition-all duration-100"
                            target="_blank"
                            href={demo}>🔗 demo</a
                        >
                        <a
                            class="flex items-center rounded-full ring-2 ring-white hover:bg-white hover:text-black p-1 px-4 transition-all duration-100"
                            target="_blank"
                            href={code}>💻 code</a
                        >
                    </section>
        </div>
    </section>
</section>
