---
import Layout from "../layouts/Layout.astro";
import "@fontsource/fjalla-one";
import ProyectCard from "../components/Proyects/ProyectCard.astro";
import React from "../components/icons/React.astro";
import AstroIcon from "../components/icons/AstroIcon.astro";
import JavaScript from "../components/icons/JavaScript.astro";
import TypeScript from "../components/icons/TypeScript.astro";
import Tailwind from "../components/icons/Tailwind.astro";
import ReactRouter from "../components/icons/ReactRouter.astro";
import Pages from "../layouts/Pages.astro";

const projects = [
    {
        id: "kanban-board",
        name: "Kanban Task Manager",
        image: "/img/kanbanTask.png",
        description:
            "An Interactive, responsive web app for managing tasks using drag & drop, priority filtering, real-time editing, and cloud persistence via JSONBin. Built with React, TypeScript, Tailwind CSS, and localStorage",
        technologies: [
            {
                name: "React",
                icon: React,
            },
            {
                name: "TypeScript",
                icon: TypeScript,
            },
            {
                name: "Tailwind",
                icon: Tailwind,
            },
        ],
        link: "/Projects/kanban",
    },
    {
        id:"smartshop",
        name: "E-commerce",
        image: "/img/SmartShop.webp",
        description:
            "Responsive web app, powered by React and Tailwind CSS, replicates e-commerce functionalities by fetching products from an API. Users can seamlessly browse, add items to their cart, complete purchases and manage users profiles.",
        technologies: [
            {
                name: "React",
                icon: React,
            },
            {
                name: "JavaScript",
                icon: JavaScript,
            },
            {
                name: "Tailwind",
                icon: Tailwind,
            },
            {
                name: "React Router",
                icon: ReactRouter,
            },
        ],
        link: "/Projects/smartshop",
    },
    {
        id:"mpwedding",
        name: "Wedding - landing page",
        image: "/img/mpwedding.png",
        description:
            "Responsive landing page built with Astro, Tailwind, and React, created to inform tourist plans, wedding's details and mainly manage guest confirmations for a real wedding. Database powered by Supabase-powered in a RSVP form and a hidden admin dashboard to view submissions in real time.",
        technologies: [
            {
                name: "Astro",
                icon: AstroIcon,
            },
            {
                name: "JavaScript",
                icon: JavaScript,
            },
            {
                name: "Tailwind",
                icon: Tailwind,
            },
            {
                name: "React",
                icon: React,
            },
        ],
        link: "/Projects/melissa-pedro-wedding",
    },
];
---

<Layout
    title="Nicolás' Projects -  Front-End developer"
    description="This is some of my projects where you can see the technologies that i've been using"
>
    <Pages
        title="Explore a glimpse of my work, where creativity meets code."
        subtitle="Projects"
        icon="⌨️"
    >
        <main
            class="flex flex-col md:max-h-[70vh] overflow-y-auto items-center justify-start sm:w-[395px] md:w-[465px] sm:mt-2 lg:w-[560px] xl:w-[730px]"
        >
            {
                projects.map((project) => (
                    <ProyectCard
                        id={project.id}
                        name={project.name}
                        image={project.image}
                        description={project.description}
                        technologies={project.technologies}
                        link={project.link}
                    />
                ))
            }
        </main>
    </Pages>
</Layout>

<style>
    ::view-transition-old(root){
		animation: slide-out-rigth 0.5s forwards
	}
	::view-transition-new(root){
		animation: slide-out-left 0.5s forwards
	}
	@keyframes slide-out-rigth {
		from{
			transform: translateX(0);
		}
		to{
			transform: translateX(100%);
		}
	}
	@keyframes slide-out-left {
		from{
			transform: translateX(100%);
		}
		to{
			transform: translateX(0);
		}
	}
    @font-face {
        font-family: "MigraItalic-ExtralightItalic";
        src: url("/fonts/MigraItalic-ExtralightItalic.ttf") format("truetype");
    }
    h1 {
        font-family: "Fjalla One", sans-serif;
    }
    .name {
        font-family: "MigraItalic-ExtralightItalic", italic;
    }
    .main {
        scrollbar-width: none;
    }
</style>
