---
import Layout from "../layouts/Layout.astro";
import "@fontsource/fjalla-one";
import kanbanTask from "../img/kanbanTask.png"
import SmartShop from '../img/SmartShop.webp'
import mpwedding from "../img/mpwedding.png"
import ProyectCard from "../components/Proyects/ProyectCard.astro";
import React from "../components/icons/React.astro";
import AstroIcon from "../components/icons/AstroIcon.astro";
import JavaScript from "../components/icons/JavaScript.astro";
import TypeScript from "../components/icons/TypeScript.astro"
import Tailwind from "../components/icons/Tailwind.astro";
import ReactRouter from "../components/icons/ReactRouter.astro";
import Vite from "../components/icons/Vite.astro";

const proyects = [
    {
        name: "Kanban Task Manager",
        image: kanbanTask,
        description:
            "An Interactive, responsive web app for managing tasks using drag & drop, priority filtering, real-time editing, and cloud persistence via JSONBin. Built with React, TypeScript, Tailwind CSS, and localStorage",
        technologies: [
            {
                name: "React",
                icon: React,
            },
            {
                name: "TypeScript",
                icon: TypeScript
            },
            {
                name: "Tailwind",
                icon: Tailwind
            },
        ],
        link: 'https://kanban-i0xcljm0j-xnicolasgs-projects.vercel.app/'
    },
    {
        name: "E-commerce",
        image: SmartShop,
        description:
            "Responsive web app, powered by React and Tailwind CSS, replicates e-commerce functionalities by fetching products from an API. Users can seamlessly browse, add items to their cart, complete purchases and manage users profiles.",
        technologies: [
            {
                name: "React",
                icon: React,
            },
            {
                name: "JavaScript",
                icon: JavaScript
            },
            {
                name: "Tailwind",
                icon: Tailwind
            },
            {
                name: "React Router",
                icon: ReactRouter
            },
        ],
        link: 'https://smartshop-ten.vercel.app/'
    },
    {
        name: "Wedding - landing page",
        image: mpwedding,
        description:
            "Responsive landing page built with Astro, Tailwind, and React, created to inform tourist plans, wedding's details and mainly manage guest confirmations for a real wedding. Database powered by Supabase-powered in a RSVP form and a hidden admin dashboard to view submissions in real time.",
        technologies: [
            {
                name: "Astro",
                icon: AstroIcon,
            },
            {
                name: "JavaScript",
                icon: JavaScript
            },
            {
                name: "Tailwind",
                icon: Tailwind
            },
            {
                name: "React",
                icon: React
            },
        ],
        link: 'https://melissa-pedro.vercel.app/'
    },
];
---

<Layout
    title="Nicolás' Proyects -  Front-End developer"
    description="This is some of my proyects where you can see the technologies that i've been using"
>
    <section
        class="mx-auto bg-gray-950 w-[95%] sm:w-3/3 md:w-full p-4 rounded-b-2xl sm:rounded-2xl"
    >
        <div class="flex flex-col w-full gap-x-2">
            <article class="flex items-start">
                <span
                    class="pretitle flex items-center text-5xl mr-2 bg-gradient-to-r from-purple-200 to-purple-500 bg-clip-text text-transparent"
                    >✹</span
                >
                <h1 class="text-xl">
                    Explore a glimpse of my work, where creativity meets code.
                    <p
                        class="name opacity-0 md:opacity-100 text-lg sm:text-xl tracking-wider font-bold text-purple-200 md:before:content-['⌨️'] text-"
                    >
                        Proyects
                    </p>
                </h1>
            </article>
            <main
                class="flex flex-col md:max-h-[70vh] overflow-y-auto items-center justify-start sm:w-[395px] md:w-[465px] sm:mt-2 lg:w-[560px] xl:w-[730px]"
            >
            {
                proyects.map((proyect) => (
                    <ProyectCard 
                    name={proyect.name}
                    image={proyect.image}
                    description={proyect.description}
                    technologies={proyect.technologies}
                    link={proyect.link}
                    />
                ))
            }
            </main>
        </div>
    </section>
</Layout>

<style>
    @font-face {
        font-family: "MigraItalic-ExtralightItalic";
        src: url("/fonts/MigraItalic-ExtralightItalic.ttf") format("truetype");
    }
    h1 {
        font-family: "Fjalla One", sans-serif;
    }
    .name {
        font-family: "MigraItalic-ExtralightItalic", italic;
    }
    .main {
        scrollbar-width: none;
    }
</style>
